.flex-container{
    display: flex;
    background-color: #141414;
    width: 100%;
    flex-direction: row;
    // max-width: 900px;
    // padding: 0;
    // margin: 0 auto;
}



img {
    vertical-align: middle;
    border-style: none;
    margin-left: 0px;
   
}

.header-logo {

}

.header-menu {
    flex-grow: 1;
}

.header-actions {

}