
<nav  class="flex-container">
    <a href="#">
        <img src="assets/img/netflixx.png" width="90px" alt="logo">
    </a>
    

    <div class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Navegar</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem>Início</button>
              <button ngbDropdownItem>Séries</button>
              <button ngbDropdownItem>Filmes</button>
              <button ngbDropdownItem>Bombando</button>
              <button ngbDropdownItem>Minha lista</button>
            </div>
          </div>
        </div>
    </div>
    

    <ul id="nav">

        <!-- <li class="menu-navegation">
        </li> -->
        <li class="lista" [class]="{'active': menu == 'home'}">
            <a href="#" (click)="selecioneMenu('home')">Início</a>
        </li>
        <li class="lista" [class]="{'active': menu == 'series'}" >
            <a href="#" (click)="selecioneMenu('series')">Séries</a>
        </li>
        <li class="lista" [class]="{'active': menu == 'filmes'}">
            <a href="#" (click)="selecioneMenu('filmes')">Filmes</a>
        </li>
        <li class="lista" [class]="{'active': menu == 'bombando'}">
            <a href="#" (click)="selecioneMenu('bombando')">Bombando</a>
        </li>
        <li class="lista" [class]="{'active': menu == 'lista'}">
            <a href="#" (click)="selecioneMenu('lista')">Minha lista</a>
        </li>
    </ul>
    <div class="secondary-navigation">
        <a href="#" >
            <i class="fa fa-search" style="color: white;"></i>
        </a>
        <a href="#" >
            <i class="fa fa-bell" style="color:white;"></i>
        </a>
        <a href="#">
            <img src="assets/img/gatinho.png" alt="icone">
        </a>
    </div>
    
</nav>
   
