<div class="container-menu">
    <div class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Navegar</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-list">
              <a ngbDropdownItem class="button-caixa" [routerLink]="['/browse']" routerLinkActive="active-link" class="first-of-list">Início</a>
              <a ngbDropdownItem class="button-caixa" [routerLink]="['/series']" routerLinkActive="active-link">Séries</a>
              <a ngbDropdownItem class="button-caixa" [routerLink]="['/films']" routerLinkActive="active-link">Filmes</a>
              <a ngbDropdownItem class="button-caixa" [routerLink]="['/latest']" routerLinkActive="active-link">Bombando</a>
              <a ngbDropdownItem class="button-caixa" [routerLink]="['/myList']" routerLinkActive="active-link">Minha lista</a>
            </div>
          </div>
        </div>
    </div>
    <ul id="nav">
        <li class="lista">
            <a [routerLink]="['/browse']" routerLinkActive="active-link">Início</a>
        </li>
        <li class="lista" >
            <a [routerLink]="['/series']">Séries</a>
        </li>
        <li class="lista">
            <a [routerLink]="['/films']" >Filmes</a>
        </li>
        <li class="lista">
            <a [routerLink]="['/latest']">Bombando</a>
        </li>
        <li class="lista" >
            <a [routerLink]="['/myList']">Minha lista</a>
        </li>
    </ul>
</div>

