<div class="container-action">
    <div class="navigation-action">
        <a href="#" >
            <i class="fa fa-search"></i>
        </a>
        <a href="#" >
            <i class="fa fa-bell"></i>
        </a>
    </div>
    <div class="button-action">
        <button #button (click)="toogleTag()" id="button" aria-describedby="tooltip"> 
          <img src="assets/img/gatinho.png" alt="icone">
          <i class="fa fa-caret-down"></i>
        </button>
        <div #tooltip id="tooltip" [ngClass]="{show: showMe}"  role="tooltip">
            <div *ngFor="let user of users" class="list-button-action">
              <a [routerLink]="['/browse']">
                <img [src]="user.img" style="width:32px;" alt=icone>
                {{ user.name }}
              </a>
            </div>
            <div class="menu-action-item">
                <a [routerLink]="['/profile/manage']">Gerenciar perfis</a>
            </div>
            <div class="border-action-item">
            <div class="border-action-item"></div>
              <ul class="menus">
                <li class="menu-itens">
                  <a href="#">Conta</a>
                </li>
                <li class="menu-itens">
                  <a href="#">Centro de ajuda</a>
                </li>
                <li class="menu-itens">
                  <a href="#">Sair da Netflix</a>
                </li>
              </ul>
            </div>
            <div #arrow id="arrow" data-popper-arrow></div>
        </div>
    </div>
</div>