<footer class="container-footer">
    <div class="container-inner">
        <div class="icons-footer">
            <a href="#">
                <i class="fa fa-facebook-square"></i>
            </a>
            <a href="#">
                <i class="fa fa-instagram"></i>
            </a>
            <a href="#">
                <i class="fa fa-twitter-square"></i>
            </a>
            <a href="#">
                <i class="fa fa-youtube-square"></i>
            </a>
        </div>
        <div class="text-footer">
            <ul class="links-footer" >
                <a href="#">
                    <li>Idioma e legendas</li>
                </a>
                <a href="#">
                    <li>Audiodescrição</li>
                </a>
                <a href="#">
                    <li>Centro de ajuda</li>
                </a>
                <a href="#">
                    <li>Cartão pré-pago</li>
                </a>
                <a href="#">
                    <li>Imprensa</li>
                </a>
                <a href="#">
                    <li>Relações com investidores</li>
                </a>
                <a href="#">
                    <li>Carreiras</li>
                </a>
                <a href="#">
                    <li>Termos de uso</li>
                </a>
                <a href="#">
                    <li>Privacidade</li>
                </a>
                <a href="#">
                    <li>Avisos legais</li>
                </a>
                <a href="#">
                    <li>Preferência de cookies</li>
                </a>
                <a href="#">
                    <li>Informações corporativas</li>
                </a>
                <a href="#">
                    <li>Entre em contato</li>
                </a>
            </ul>
        </div>
        <div>
            <a class="button-footer" href="#">
                Código do serviço
            </a>
        </div>
        <div class="copy-footer">© 1997-2021 Netflix, Inc.</div>
    </div>
</footer>
