<div class="container-series">
    <div>
        <img id="imgTrailer" [ngClass]="{hidden: showVideo == true}" src="assets/img/trailer.jpg" alt="trailer">
        <video id="serieVideo" [ngClass]="{hidden: showVideo == false}" #serieVideo style="width: 100%;">
        </video>
    </div>
    <div class="text-serie">
        <span>Séries</span>
        <div #div id="div" label="gêneros" role="button" class="box" (click)="popperBox()"> Gêneros<i class="fa fa-caret-down"></i>
            <div #tooltip id="tooltip" [ngClass]="{show: showMe}"  role="tooltip" class="fila">
                <ul *ngFor="let grupo of getGrupos()">
                    <li *ngFor="let i of grupo" >
                        <a> {{ i }}</a>
                    </li>    
                </ul>
            </div>
        </div>
        <div class="button-series-white">
            <a href="#"><i class="fa fa-play"></i>Assistir</a>
        </div>
        <div>
            <img src="https://via.placeholder.com/650x260/ffffff/B0C4DE/?text=Filme" title="Nome de algum filme">
        </div>
        <div class="text-img">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum, odit voluptate.
            Deleniti autem quisquam odit corporis illo porro consequatur delectus dolor.
        </div>
        <div class="button-series-dark">
            <a href="#"><i class="fa fa-info-circle"></i>Mais informações</a>
        </div>
    </div>
    <div class="names-list">Minha lista</div>
    <carousel class="carousel" style="height: 200px" [cellsToShow]="6" [cellsToScroll]="5" [width]="1800" [borderRadius]="1">
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme1">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme2">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme3">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme4">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme5">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme6">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme7">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme8">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme9">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme10">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme11">
                </div>
           
<!--                
            <div _ngcontent-wbk-c23="" class="carousel-arrows">
                <div _ngcontent-wbk-c23="" class="carousel-arrow carousel-arrow-prev">
                </div>
                <div _ngcontent-wbk-c23="" class="carousel-arrow carousel-arrow-next">
                </div>
            </div> -->
    </carousel>
    <div class="names-list">Sugestões para você</div>
    <carousel class="carousel" style="height: 200px" [cellsToShow]="6" [cellsToScroll]="5" [width]="1800" [borderRadius]="1">
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme1">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme2">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme3">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme4">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme5">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme6">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme7">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme8">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme9">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme10">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme11">
                </div>
           
<!--                
            <div _ngcontent-wbk-c23="" class="carousel-arrows">
                <div _ngcontent-wbk-c23="" class="carousel-arrow carousel-arrow-prev">
                </div>
                <div _ngcontent-wbk-c23="" class="carousel-arrow carousel-arrow-next">
                </div>
            </div> -->
    </carousel>
    <div class="names-list">Em alta</div>
    <carousel class="carousel" style="height: 200px" [cellsToShow]="6" [cellsToScroll]="5" [width]="1800" [borderRadius]="1">
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme1">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme2">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme3">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme4">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme5">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme6">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme7">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme8">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme9">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme10">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme11">
                </div>
           
<!--                
            <div _ngcontent-wbk-c23="" class="carousel-arrows">
                <div _ngcontent-wbk-c23="" class="carousel-arrow carousel-arrow-prev">
                </div>
                <div _ngcontent-wbk-c23="" class="carousel-arrow carousel-arrow-next">
                </div>
            </div> -->
    </carousel>
    <div class="names-list">Filmes e séries asiáticos</div>
    <carousel class="carousel" style="height: 200px" [cellsToShow]="6" [cellsToScroll]="5" [width]="1800" [borderRadius]="1">
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme1">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme2">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme3">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme4">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme5">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme6">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme7">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme8">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme9">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme10">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme11">
                </div>
           
<!--                
            <div _ngcontent-wbk-c23="" class="carousel-arrows">
                <div _ngcontent-wbk-c23="" class="carousel-arrow carousel-arrow-prev">
                </div>
                <div _ngcontent-wbk-c23="" class="carousel-arrow carousel-arrow-next">
                </div>
            </div> -->
    </carousel>
    <div class="names-list">Continuar assistindo</div>
    <carousel class="carousel" style="height: 200px" [cellsToShow]="6" [cellsToScroll]="5" [width]="1800" [borderRadius]="1">
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme1">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme2">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme3">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme4">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme5">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme6">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme7">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme8">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme9">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme10">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme11">
                </div>
    </carousel>
    <div class="names-list">Só os melhores</div>
    <carousel class="carousel" style="height: 400px" [cellsToShow]="6" [cellsToScroll]="5" [width]="1800" [borderRadius]="1">
                <div class="carousel-cell">
                    <img src="https://via.placeholder.com/300x600/FA8072/B0C4DE/?text=Filme1">
                </div>
                <div class="carousel-cell">
                    <img src="https://via.placeholder.com/300x600/ffffff/B0C4DE/?text=Filme2">
                </div>
                <div class="carousel-cell">
                    <img src="https://via.placeholder.com/300x600/FA8072/B0C4DE/?text=Filme1">
                </div>
                <div class="carousel-cell">
                    <img src="https://via.placeholder.com/300x600/ffffff/B0C4DE/?text=Filme2">
                </div>
                <div class="carousel-cell">
                    <img src="https://via.placeholder.com/300x600/FA8072/B0C4DE/?text=Filme1">
                </div>
                <div class="carousel-cell">
                    <img src="https://via.placeholder.com/300x600/ffffff/B0C4DE/?text=Filme2">
                </div>
                <div class="carousel-cell">
                    <img src="https://via.placeholder.com/300x600/FA8072/B0C4DE/?text=Filme1">
                </div>
                <div class="carousel-cell">
                    <img src="https://via.placeholder.com/300x600/ffffff/B0C4DE/?text=Filme2">
                </div>
                <div class="carousel-cell">
                    <img src="https://via.placeholder.com/300x600/FA8072/B0C4DE/?text=Filme1">
                </div>
                <div class="carousel-cell">
                    <img src="https://via.placeholder.com/300x600/ffffff/B0C4DE/?text=Filme2">
                </div>
    </carousel>
   
   