<div class="container-list">
    <div class="title">
        Minha lista
    </div>    
   <div class="card-list">
        <div class="card-item">
            <img src="assets/img/humano.jpg">
        </div>
        <div class="card-item"> 
            <img src="assets/img/naruto.webp">
        </div>
        <div class="card-item">
            <img src="assets/img/bill.jpg">
        </div>
        <div class="card-item">
            <img src="assets/img/jobs.webp">
        </div>
        <div class="card-item">
            <img src="assets/img/promised.webp">
        </div>
        <div class="card-item">
            <img src="assets/img/mama.jpg">
        </div>
        <div class="card-item">
            <img src="assets/img/bill.jpg">
        </div>
        <div class="card-item">
            <img src="assets/img/jobs.webp">
        </div>
        <div class="card-item">
            <img src="assets/img/promised.webp">
        </div>
        <div class="card-item">
            <img src="assets/img/mama.jpg">
        </div>
   </div>
</div>