.container-list {
   width: 100%;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   background-color: #141414;
}


.title{
    margin-left: 60px;
    font-size: 2.5rem;
    color: white;
    margin-top: 3.5%;
    display: block;
    margin-bottom: 80px;
}


.card-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 60px;
}

.card-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 3.5px;
    margin-bottom: 80px;
    justify-content: center;
    align-items: center;
    cursor: pointer
}

img {
    width: 293px;
    border-radius: 5px;
}