<div class="container-list">
    <div class="title">
        Minha lista
    </div>    
   <div class="card-list">
        <div class="card-item">
            <img src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme1">
        </div>
        <div class="card-item"> 
            <img src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme1">
        </div>
        <div class="card-item">
            <img src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme1">
        </div>
        <div class="card-item">
            <img src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme1">
        </div>
        <div class="card-item">
            <img src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme1">
        </div>
        <div class="card-item">
            <img src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme1">
        </div>
        <div class="card-item">
            <img src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme1">
        </div>
        <div class="card-item">
            <img src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme1">
        </div>
        <div class="card-item">
            <img src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme1">
        </div>
        <div class="card-item">
            <img src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme1">
        </div>
   </div>
</div>