.profiles {
    width: 100%;
    background: #141414;
    height: 100%;
}

.font-profiles {
       text-align: center; 
       color: #fff;
       width: 100%;
       font-size: 3.5vw;
       font-weight: unset;
       padding-top: 2.5em;
       margin-bottom: 0.67em;
}

.img-home{
    width:100px;
    margin-left: 30px; 
}

a {
    margin-right: 30px;
    display: inline-block;
    text-decoration: none;
}


li {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;  
}
.img-profiles {
    width: 190px;
    border-radius: 5px;
}

.name-profiles {
    text-align: center;
    color: #fff;
}
span {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
   
    margin-left: 20px;

}
