.profiles {
    width: 100%;
    background: #141414;
    height: 100%;
}

.img-home{
    width:100px;
    margin-left: 30px; 
}

.font-profiles {
       text-align: center; 
       color: #fff;
       width: 100%;
       font-size: 3.5vw;
       font-weight: unset;
       padding-top: 2.5em;
       margin-bottom: 0.67em;
}

.img-profiles {
    width: 190px;
    border-radius: 5%;
    border: .3em solid transparent;
    transition: border 300ms linear;
}

.img-profiles:hover {
    border-radius: 5%;
    border: .3em solid white;
    transition: border 300ms linear;
}


.name-profiles {
    text-align: center;
    color: #fff;
}

.profile-button {
    display: block;
    margin: 2em 0 1em 0;
    font-size: 1.2vw;
    border: 1px solid grey;
    color: grey;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    background-color: transparent;
    padding: 8px 8px;
    margin-left: 900px;
    margin-right: 900px;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;
    color: #000;
    border: 1px solid #fff;
    font-weight: 700;
}

.profile-button:focus, .profile-button:hover {
    background: #c00;
    border: 1px solid #c00;
    color: #fff;
}


a {
    margin-right: 30px;
    display: inline-block;
    text-decoration: none;
}


li {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;  
}





