<div class="profiles">
    <a [routerLink]="['/browse']">
        <img src="assets/img/netflixx.png" class="img-home"alt="logo">
    </a>
    <div class="font-profiles">Gerenciar perfis:</div>
    <ul>
        <li>
            <div *ngFor="let user of users">
                <a [routerLink]="['/browse']">
                    <img [src]="user.img"  class="img-profiles">
                    <div class="name-profiles">
                        {{ user.name }}
                    </div>
                    <!-- <span [src]="user.name"></span> -->
                </a>
            </div>
        </li>
    </ul>
    <div>
        <a [routerLink]="['/browse']"class="profile-button">Ok</a>    
    </div>
</div>

