<div class="container-latest">
    <div class="names-list1">Top 10 do Brasil</div>
    <carousel class="carousel" style="height: 200px" [cellsToShow]="5" [cellsToScroll]="5" [width]="1800" [borderRadius]="1">
                <div class="carousel-cell">
                   <a>
                    <span class="numbers">1</span>
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme1">
                   </a>
                </div>
                <div class="carousel-cell">
                    <a>
                        <span class="numbers">2</span>
                        <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme2">
                    </a>
                </div>
                <div class="carousel-cell">
                    <a>
                        <span class="numbers">3</span>
                        <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme3">
                    </a>
                </div>
                <div class="carousel-cell">
                    <a>
                        <span class="numbers">4</span>
                        <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme4">
                    </a>
                </div>
                <div class="carousel-cell">
                    <a>
                        <span class="numbers">5</span>
                        <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme5">
                    </a>
                </div>
                <div class="carousel-cell">
                    <a>
                        <span class="numbers">6</span>
                        <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme6">
                    </a>
                </div>
                <div class="carousel-cell">
                    <a>
                        <span class="numbers">7</span>
                        <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme7">
                    </a>
                </div>
                <div class="carousel-cell">
                    <a>
                        <span class="numbers">8</span>
                        <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme8">
                    </a>
                </div>
                <div class="carousel-cell">
                    <a>
                        <span class="numbers">9</span>
                        <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme9">
                    </a>
                </div>
                <div class="carousel-cell" style="transform: translateX(3301);width: 352px;right: 3386px;">
                    <a>                        
                        <span class="numbers">10</span>
                        <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme10">
                    </a>
                </div>
                
    </carousel>
    <div class="names-list">Valem a espera</div>
    <carousel class="carousel" style="height: 200px" [cellsToShow]="6" [cellsToScroll]="5" [width]="1800" [borderRadius]="1">
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme1">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme2">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme3">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme4">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme5">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme6">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme7">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme8">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme9">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme10">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme11">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme12">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme13">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme14">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme15">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme16">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme17">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme18">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme19">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme20">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme21">
                </div>
    
           
<!--                
            <div _ngcontent-wbk-c23="" class="carousel-arrows">
                <div _ngcontent-wbk-c23="" class="carousel-arrow carousel-arrow-prev">
                </div>
                <div _ngcontent-wbk-c23="" class="carousel-arrow carousel-arrow-next">
                </div>
            </div> -->
    </carousel>
    <div class="names-list">Estreias da semana</div>
    <carousel class="carousel" style="height: 200px" [cellsToShow]="6" [cellsToScroll]="5" [width]="1800" [borderRadius]="1">
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme1">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme2">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme3">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme4">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme5">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme6">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme7">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme8">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme9">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme10">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme11">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme10">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme11">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme12">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme13">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme14">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme15">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme16">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme17">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme18">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme19">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme20">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme21">
                </div>
           
<!--                
            <div _ngcontent-wbk-c23="" class="carousel-arrows">
                <div _ngcontent-wbk-c23="" class="carousel-arrow carousel-arrow-prev">
                </div>
                <div _ngcontent-wbk-c23="" class="carousel-arrow carousel-arrow-next">
                </div>
            </div> -->
    </carousel>
    <div class="names-list">Novidades do site</div>
    <carousel class="carousel" style="height: 200px" [cellsToShow]="6" [cellsToScroll]="5" [width]="1800" [borderRadius]="1">
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme1">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme2">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme3">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme4">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme5">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme6">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme7">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme8">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme9">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme10">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme11">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme12">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme13">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme14">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme15">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme16">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme17">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme18">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme19">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme20">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme21">
                </div>
           
<!--                
            <div _ngcontent-wbk-c23="" class="carousel-arrows">
                <div _ngcontent-wbk-c23="" class="carousel-arrow carousel-arrow-prev">
                </div>
                <div _ngcontent-wbk-c23="" class="carousel-arrow carousel-arrow-next">
                </div>
            </div> -->
    </carousel>
    <div class="names-list">Estreias da próxima semana</div>
    <carousel class="carousel" style="height: 200px" [cellsToShow]="6" [cellsToScroll]="5" [width]="1800" [borderRadius]="1">
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme1">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme2">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme3">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme4">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme5">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme6">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme7">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme8">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme9">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme10">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme11">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme12">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme13">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme14">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme15">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme16">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme17">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme18">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme19">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/ffffff/B0C4DE/?text=Filme20">
                </div>
                <div class="carousel-cell">
                    <img class="img-carousel" src="https://via.placeholder.com/341x192/FA8072/B0C4DE/?text=Filme21">
                </div>
    </carousel>
   
</div>