/* You can add global styles to this file, and also import other style files */
@import '~font-awesome/scss/font-awesome';


html, body {
    height:100%;
    background-color: #212529;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #212529;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
